* {
    margin: 0;
    padding: 0;
}

.modal{
    background-color: rgba(255, 255, 255, 0.758);
    width: 15vw;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(50vh - 7.25vh) calc(50vw - 7.25vw);
    border-radius: 15px;
    opacity: 0.8;
}
.modal-open{
    display: flex;
}
.modal_dialog{
    background-color: #eb8d46fd;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
}
.span-clue-hide{
    display: none;
}
.span-clue-revealed{
    display: flex;
    color: rgb(122, 114, 114);
    font-size: 20px;
}

.button-clue{
    background-color: #ec6f10e6;
    font-size: 2em;
    border-radius: 5px;
    width: 200px;
    color: white;
    margin-top: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: center;
    border-color: #ec6f10e6;
}

.div-clue{
    display: flex;
    align-items: center;
    flex-direction: column;
}




body{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

/*Navbar*/
.navbar{
    background-color: #ec6f10e6;
    display: flex;
    justify-content: center;
}

.navbar-icon{
    display: flex;
    align-items: flex-start;
}

.navbar-link{
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-linkcurrent:link,
.navbar-link:focus,
.navbar-link:hover{
    color: yellow;
}

.nav-menu{
    display: flex;
    justify-content:flex-start;
    margin-right: 24px;
}
/*Navbar*/


.form-pokemon{
    padding: 10px 0;
    width: 400px;
    max-width: 100%;
}

.form-pokemon input{
    border: none;
    border: 3px solid #ec6f10e6;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 5px 10px 18px #888888;
}

.form-pokemon input:focus{
    border-color: rgba(159, 68, 165, 0.774);    
}

/*Logo-container*/
.logo-container{
    display: flex;
    justify-content: center;
}

.search-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.idContainer{
    background-color: rgba(41, 40, 41, 0.813);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 9em;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}


.buttonNavigate{
    background-color: #ec6f10e6;
    font-size: 25px;
    border-radius: 5px;
    width: 175px;
    color: white;
    margin: 1em;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: #ec6f10e6;
    padding: 0.6em 0 0.6em 0;
    
}

.boton-pagination{
    background-color: #ec6f10e6;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 0.8em 0 0.8em 0;
    border-color: #ec6f10e6;
    text-transform: capitalize;
    width: 14vw;
}

.container-card{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 20px 20px 0px 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*whothatpokemon*/

.who-pokemon-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    max-width: 800px;
    align-items: center;
} 

.nombre-whothatpokemon{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 2px 0 3px #ec6f10e6;
}

.nombre-whothatpokemon-span{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 0 3px #ec6f10e6;
}

.button-start-game{
    background-color: #ec6f10e6;
    font-size: 2em;
    border-radius: 5px;
    width: 350px;
    color: white;
    margin-top: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: #ec6f10e6;
}

.xl{
    width: 400px;
}

.xs{
    width: 300px;
}


/*pokemon list autocomplete*/
.ul-autocomplete{
    background-color: rgba(228, 220, 220, 0.785);
    width: 21vw;
    max-height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    margin: calc(41.5vh - 7.25vh) calc(50vw - 10.5vw);
    border-radius: 5px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    list-style: none;
    font-size: 20px;
    padding: 0;
    color: rgb(60, 59, 59);
    cursor: pointer;
}
.li-autocomplete{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*whothatpokemon Ternario */
.who-img-hidden{
    filter: brightness(0);
}
.who-img-revealed{
    filter: brightness(1);
}
.view-input-hidden{
    display: none;
}
.view-input-revealed{
    display: inline;
}
/* Ternario */


.card{
    background-color: #ec6f10e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 5px 10px 18px #888888;
    margin: 10px;
}

.card-img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 5px;
}


.text-container{
    display: flex;
    flex-direction: column;
    height: 90px;
    margin-top: 5px;
    text-align: center;
}

.card-title{
    font-weight:600;
    margin-bottom: 2px;
}

.card-text{
    font-weight:500;
    margin: 3px;

}

/*pokedex-pokemon-info*/
.siguiente-anterior{
    display: flex;
    width: 60%;
    font-size: 40px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}

.pokemon-info-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    max-width: 1100px;
    align-items: center;
    padding-top: 1em;
    font-size: 25px;
}

.name-number-pokemon{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.info-container{
    background-color: #ec6f10e6;
    color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    margin-top: 10px;
}

.type-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-type-info{
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.type-info{
    background-color: #ec6f10e6;
    box-shadow: 5px 10px 18px #888888;
    color: white;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    text-transform: capitalize;   
}

.img-info{
    display: flex;
    justify-content: center;
}

.img{
    width: 80%;
    height: 80%;
}

.habiliti-info{
    grid-column: 1/4;

}
.habiliti-span{
    display: flex;
    justify-content: center;
}
.habiliti-map{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.weight-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center
}

.height-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center
}

.gender-info{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*pokedex-pokemon-info*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}