
body{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-container{
    background-color: red;
    padding-bottom: 2rem;
}
/*Footer*/
.footer-container{
    background-color: #ec6f10e6;
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.footer-icon{
    padding: 0rem 1rem 0rem 1rem;
    color: white;
    display: flex;
    align-items: center;
}


/*Modal intentos disponibles*/
.modal{
    background-color: rgba(255, 255, 255, 0.548);
    width: 18.75rem;
    height: 9.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(50vh - 5.25vh) calc(50vw - 9.4rem);
    border-radius: 1rem;
    opacity: 0.8;
}
.modal-open{
    display: flex;
}
.modal_dialog{
    background-color: red;
    color: white;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    
}
/*Modal intentos disponibles*/

/*clue pokemons*/
.span-clue-hide{
    display: none;
}
.span-clue-revealed{
    display: flex;
    color: rgb(122, 114, 114);
    font-size: 1.25rem;
}

.button-clue{
    background-color: #ec6f10e6;
    border: #ec6f10e6;
    color: white;
    width: 6.25rem;
    height: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0.125rem 0.3rem 18px #888888;
    margin-top: 0.3rem;
    font-size: 1rem;
}

.enabled{
    background-color: #ec6f10e6;
    border-color: #ec6f10e6;
    cursor: pointer;
}
.disabled{
    background-color: #e7a97ac3;
    border-color: #e7a97ac3;
    cursor: default;
}

.div-clue{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/*clue pokemons*/

/*Navbar*/

.navbar-container{
    background-color: #ec6f10e6;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: 0 0.625rem 0.625rem #000000cd;
}
.navbar-brand{
    padding-right: 18.75rem;
}
.navbar-link{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.navbar-collapse{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.toggle-collapse{
    display: none;
}

.navbar-link:hover{
    color: yellow;
}

.dropdown-language{
    color: white;
    background-color: transparent;
    border: none;
}
.dropdown-container{
    display: flex;
    align-items: center;
    padding-left: 18.75rem;
}

.menu-dropdown{
    position: relative;
    align-items: center;
}
.menu-dropdown ul{
    top: 1.5rem;
    left: -3.75rem;
    font-size: 1.25rem;
    position: absolute;
    width: 6.25rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0 0.625rem;
    background-color: rgba(176, 171, 171, 0.842);
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
}
.menu-dropdown ul li{
    padding: 0.3rem 0px 0.3rem 0px;
}
.menu-dropdown ul li:hover{
    color: yellow;
}
.arrow-ul-language{
    color: rgba(176, 171, 171, 0.852);
    position: absolute;
    top: 1.25rem;
    left: 0.3rem;
}
.view-dropdown{
    display: none;
}
.dropdown-open{
    display: flex;
}
.dropdown-close{
    display: none;
}

/*Navbar*/

/*form input*/
.form-pokemon{
    padding: 0.625rem 0;
    width: 25rem;
    max-width: 100%;
}
input{
    height: 2rem;
}
.form-pokemon input{
    border: none;
    border: 3px solid #ec6f10e6;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0.3rem 0.625rem 18px #888888;
}

.div-button-submit{
    display: flex;
    justify-content: center;
}
.button-submit{
    background-color: #ec6f10e6;
    border: #ec6f10e6;
    color: white;
    width: 6.25rem;
    height: 1.87rem;
    border-radius: 0.18rem;
    box-shadow: 0.125rem 0.3rem 18px #888888;
    margin-top: 0.625rem;
    font-size: 1rem;
}
/*form input*/

/*Logo-container*/
.logo-container{
    display: flex;
    justify-content: center;
    padding-top: 0.625rem;
}

.img-logo{
    width: 31.25rem;
}
/*Logo-container*/

/*pokedex*/
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idContainer{
    background-color: rgba(41, 40, 41, 0.813);
    font-size: 1.25rem;
    color: white;
    border-radius: 0.3rem;
    height: 1.875;
    width: 9em;
    display: flex;
    justify-content: space-around;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.next-prev-pagination{
    display: flex;
    width: 25%;
    justify-content: center;
}
.buttonNavigate{
    background-color: #ec6f10e6;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    width: 11rem;
    color: white;
    margin: 1em;
    box-shadow: 0.3rem 0.625rem 18px #888888;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: #ec6f10e6;
    padding: 0.6em 0 0.6em 0; 
}

.boton-pagination{
    background-color: #ec6f10e6;
    font-size: 1.9rem;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7em 0.1em 0.7em 0.1em;
    border-color: #ec6f10e6;
    text-transform: capitalize;
    width: 18.75rem;
}

.container-card{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 1.25rem 1.25rem 0px 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}
/*pokedex*/

/*whothatpokemon*/
.who-pokemon-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    max-width: 50rem;
    height: 100%;
    align-items: center;
} 

.nombre-whothatpokemon{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 0.125rem 0 3px #ec6f10e6;
    padding-top: 0.625rem;
}

.nombre-whothatpokemon-span{
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0.125rem 0 3px #ec6f10e6;
}

.button-start-game{
    background-color: #ec6f10e6;
    font-size: 2em;
    border-radius: 0.3rem;
    width: 18.75rem;
    color: white;
    margin-top: 0.625rem;
    box-shadow: 0.3rem 0.625rem 18px #888888;
    display: flex;
    justify-content: center;
    border-color: #ec6f10e6;
    align-items: center;
}

.xl{
    width: 25rem;
}

.xs{
    width: 18.75rem;
}
/*whothatpokemon*/

/*pokemon list autocomplete*/
.autocomplete-submit{
    width: 25rem;
    position: sticky;
}
.ul-autocomplete{
    background-color: #8580803e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 9.3rem;
    overflow-y:auto;
}
.ul-autocomplete li{
    color: rgb(53, 52, 52);
    font-size: 1.25rem;
    padding: 0.625rem;
    width: calc(100% - 1.25rem);
    font-weight: bold;
    text-align: center;
    cursor: pointer;   
}
/*pokemon list autocomplete*/


/*whothatpokemon Ternario */
.who-img-hidden{
    filter: brightness(0);
}
.who-img-revealed{
    filter: brightness(1);
}
.view-input-hidden{
    display: none;
}
.view-input-revealed{
    display: flex;
}
/*whothatpokemon Ternario */

/*pokemon card*/
.card{
    background-color: #ec6f10e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 0.3rem 0.625rem 18px #888888;
    margin: 0.625rem;
    border-radius: 0.3rem;
}

.card-img{
    width: 12.5rem;
    height: 12.5rem;
    object-fit: contain;
    margin-top: 0.3rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    height: 5.6rem;
    margin-top: 0.3rem;
    text-align: center;
}

.card-title{
    font-weight:600;
    margin-bottom: 0.125rem;
}

.card-text{
    font-weight:500;
    margin: 0.2rem;

}
.h1-name-pokemon{
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}
.span-tipe-pokemon{
    font-weight: 500;
    padding-bottom: 0.3rem;
}
/*pokemon card*/


/*pokedex-pokemon-info*/
.siguiente-anterior{
    display: flex;
    width: 60%;
    font-size: 2.5rem;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
}

.pokemon-info-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    align-items: center;
    font-size: 1.5rem;
}

.name-number-pokemon{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.info-container{
    background-color: #ec6f10e6;
    color: white;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.625rem 18px #888888;
    margin-top: 1rem;
}

.type-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-type-info{
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.type-info{
    background-color: #ec6f10e6;
    box-shadow: 0.3rem 0.625rem 18px #888888;
    color: white;
    border-radius: 0.625rem;
    width: 9.3rem;
    text-align: center;
    text-transform: capitalize;   
}

.img-info{
    display: flex;
    justify-content: center;
}

.img{
    width: 80%;
    height: 80%;
}

.habiliti-info{
    grid-column: 1/4;

}
.habiliti-span{
    display: flex;
    justify-content: center;
}
.habiliti-map{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.weight-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 0.2rem;
}

.height-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center
}

.gender-info{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0.5rem;
}
/*pokedex-pokemon-info*/

/*surrender button*/
.surrender{
    background-color: rgb(241, 19, 19);
    border: red;
    color: white;
    font-size: 1.5em;
    border-radius: 0.3rem;
    width: 9.3rem;
    margin-top: 0.625rem;
    padding: 0.3rem;
    box-shadow: 0.3rem 0.625rem 18px #888888;
    justify-content: center;
}

/*loading*/
.div-loading{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.loading{
    font-size: 4.3rem;
}



/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 415px) {
    .navbar-link{
        color: white;
        display: block;
        margin: 0;
    }
    .navbar-brand{
        padding-right: 0px;
    }
    .navbar-img{
        padding-top: 0.2rem;
    }
    .toggle-collapse{
        display: inline-block;
        color: white;
        background-color: transparent;
        border: none;
        margin-right: 0.3rem;
        border-radius: 0.6rem;
        width: 3.125rem;
        height: 3.125rem;
    }

    .img-logo{
        width: 22rem;
    }

    .navbar-collapse{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .navbar-collapse-center{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .collapse-revealed{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 4.4rem;
        left: 0;
        right: 0;
        background-color: #ec6f10e6;
        border-radius: 0.5rem;
    }
    .collapse-hidden{
        display: none;
    }

    .dropdown-container{
        display: flex;
        align-items: center;
        padding-left: 15rem;
    }

    .menu-dropdown{
        position: relative;
        align-items: center;
    }
    .menu-dropdown ul{
        left: -2.15rem;
        font-size: 1rem;
        width: 6.25rem;
    }


    .form-pokemon{
        width: 18.75rem;
    }
    .buttonNavigate{
        font-size: 1.25rem;
        width: 8.125rem;
    }
    .siguiente-anterior{
        width: 100%;
        justify-content: space-evenly;
    }
    .boton-pagination{
        background-color: #ec6f10e6;
        font-size: 1.25rem;
        border-radius: 0.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding: 0.3em 0.1em 0.3em 0.1em;
        border-color: #ec6f10e6;
        text-transform: capitalize;
        width: 10rem;
    }
    .view-input-hidden{
        display: none;
    }
    .view-input-revealed{
        display: flex;
        justify-content: center;
    }
    .nombre-whothatpokemon-span{
        font-size: 1.5rem;
    }
    .who-pokemon-container{
        width: 80%;
    } 
    .xl{
        width: 18.75rem;
    }
    .ul-autocomplete{
        width: 19rem;
        max-height: 8rem;
        font-size: 1.25rem;
    }
    .autocomplete-submit{
        width: 18.75rem;
        position: sticky;
    }
    .modal{
        width: 18.75rem;
        height: 9rem;
        margin: calc(50vh - 5.25vh) calc(50vw - 9.4rem);
    }
    .div-loading{
        display: flex;
        width: 60%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .loading{
        font-size: 3rem;
    }
    .img-loading{
        width: 25rem;
    }