* {
    margin: 0;
    padding: 0;
}
body{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

/*Modal intentos disponibles*/
.modal{
    background-color: rgba(255, 255, 255, 0.758);
    width: 300px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(50vh - 7.25vh) calc(50vw - 150px);
    border-radius: 15px;
    opacity: 0.8;
}
.modal-open{
    display: flex;
}
.modal_dialog{
    background-color: #eb8d46fd;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
}
/*Modal intentos disponibles*/

/*clue pokemons*/
.span-clue-hide{
    display: none;
}
.span-clue-revealed{
    display: flex;
    color: rgb(122, 114, 114);
    font-size: 20px;
}

.button-clue{
    background-color: #ec6f10e6;
    border: #ec6f10e6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 2px 5px 18px #888888;
    margin-top: 5px;
}

.enabled{
    background-color: #ec6f10e6;
    border-color: #ec6f10e6;
    cursor: pointer;
}
.disabled{
    background-color: #e7a97ac3;
    border-color: #e7a97ac3;
    cursor: default;
}

.div-clue{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/*clue pokemons*/

/*Navbar*/

.navbar-container{
    background-color: #ec6f10e6;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: 0 10px 10px #000000cd;
}
.navbar-link{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.navbar-collapse{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.toggle-collapse{
    display: none;
}

.navbar-link:hover{
    color: yellow;
}

.dropdown-language{
    color: white;
    background-color: transparent;
    border: none;
}
.dropdown-container{
    display: flex;
    align-items: center;
}

.menu-dropdown{
    position: relative;
    align-items: center;
}
.menu-dropdown ul{
    top: 40px;
    left: -60px;
    font-size: 20px;
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0 10px;
    background-color: rgba(176, 171, 171, 0.842);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.menu-dropdown ul li{
    padding: 5px 0px 5px 0px;
}
.menu-dropdown ul li:hover{
    color: yellow;
}
.arrow-ul-language{
    color: rgba(176, 171, 171, 0.852);
    position: absolute;
    top: 20px;
    left: 0px;
}
.view-dropdown{
    display: none;
}
.dropdown-open{
    display: flex;
}
.dropdown-close{
    display: none;
}

/*Navbar*/

/*form input*/
.form-pokemon{
    padding: 10px 0;
    width: 400px;
    max-width: 100%;
}

.form-pokemon input{
    border: none;
    border: 3px solid #ec6f10e6;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 5px 10px 18px #888888;
}

.div-button-submit{
    display: flex;
    justify-content: center;
}
.button-submit{
    background-color: #ec6f10e6;
    border: #ec6f10e6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 2px 5px 18px #888888;
    margin-top: 10px;
}
/*form input*/

/*Logo-container*/
.logo-container{
    display: flex;
    justify-content: center;
}

.img-logo{
    width: 500px;
}
/*Logo-container*/

/*pokedex*/
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idContainer{
    background-color: rgba(41, 40, 41, 0.813);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 9em;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonNavigate{
    background-color: #ec6f10e6;
    font-size: 25px;
    border-radius: 5px;
    width: 175px;
    color: white;
    margin: 1em;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: #ec6f10e6;
    padding: 0.6em 0 0.6em 0; 
}

.boton-pagination{
    background-color: #ec6f10e6;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7em 0.1em 0.7em 0.1em;
    border-color: #ec6f10e6;
    text-transform: capitalize;
    width: 300px;
}

.container-card{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 20px 20px 0px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
/*pokedex*/

/*whothatpokemon*/
.who-pokemon-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    max-width: 800px;
    align-items: center;
} 

.nombre-whothatpokemon{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 2px 0 3px #ec6f10e6;
}

.nombre-whothatpokemon-span{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 0 3px #ec6f10e6;
}

.button-start-game{
    background-color: #ec6f10e6;
    font-size: 2em;
    border-radius: 5px;
    width: 300px;
    color: white;
    margin-top: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: center;
    border-color: #ec6f10e6;
    align-items: center;
}

.xl{
    width: 400px;
}

.xs{
    width: 300px;
}
/*whothatpokemon*/

/*pokemon list autocomplete*/
.autocomplete-submit{
    width: 400px;
    position: sticky;
}
.ul-autocomplete{
    background-color: #8580803e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 150px;
    overflow-y:auto;
}
.ul-autocomplete li{
    color: rgb(53, 52, 52);
    font-size: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    font-weight: bold;
    text-align: center;
    cursor: pointer;   
}
/*pokemon list autocomplete*/


/*whothatpokemon Ternario */
.who-img-hidden{
    filter: brightness(0);
}
.who-img-revealed{
    filter: brightness(1);
}
.view-input-hidden{
    display: none;
}
.view-input-revealed{
    display: flex;
}
/*whothatpokemon Ternario */

/*pokemon card*/
.card{
    background-color: #ec6f10e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 5px 10px 18px #888888;
    margin: 10px;
}

.card-img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 5px;
}

.text-container{
    display: flex;
    flex-direction: column;
    height: 90px;
    margin-top: 5px;
    text-align: center;
}

.card-title{
    font-weight:600;
    margin-bottom: 2px;
}

.card-text{
    font-weight:500;
    margin: 3px;

}
/*pokemon card*/


/*pokedex-pokemon-info*/
.siguiente-anterior{
    display: flex;
    width: 60%;
    font-size: 40px;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
}

.pokemon-info-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    align-items: center;
    font-size: 25px;
}

.name-number-pokemon{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.info-container{
    background-color: #ec6f10e6;
    color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    margin-top: 10px;
}

.type-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-type-info{
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.type-info{
    background-color: #ec6f10e6;
    box-shadow: 5px 10px 18px #888888;
    color: white;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    text-transform: capitalize;   
}

.img-info{
    display: flex;
    justify-content: center;
}

.img{
    width: 80%;
    height: 80%;
}

.habiliti-info{
    grid-column: 1/4;

}
.habiliti-span{
    display: flex;
    justify-content: center;
}
.habiliti-map{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.weight-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center
}

.height-info{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center
}

.gender-info{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*pokedex-pokemon-info*/

/*surrender button*/
.surrender{
    background-color: rgb(241, 19, 19);
    border: red;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 5px 10px 18px #888888;
    justify-content: center;
}

/*loading*/
.div-loading{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.loading{
    font-size: 70px;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 415px) {
    .navbar-link{
        color: white;
        display: block;
        margin: 0;
    }

    .toggle-collapse{
        display: inline-block;
        color: white;
        background-color: transparent;
        border: none;
        margin-right: 5px;
        border-radius: 10px;
        width: 50px;
        height: 50px;
    }

    .img-logo{
        width: 350px;
    }

    .navbar-collapse{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .navbar-collapse-center{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .collapse-revealed{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 64px;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #ec6f10e6;
    }
    .collapse-hidden{
        display: none;
    }

    .dropdown-container{
        display: flex;
        align-items: center;
    }

    .menu-dropdown{
        position: relative;
        align-items: center;
    }
    .menu-dropdown ul{
        left: -34.5px;
        font-size: 15px;
        width: 100px;
    }


    .form-pokemon{
        width: 300px;
    }
    .buttonNavigate{
        font-size: 20px;
        width: 130px;
    }
    .siguiente-anterior{
        width: 100%;
        justify-content: space-evenly;
    }
    .boton-pagination{
        background-color: #ec6f10e6;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding: 0.3em 0.1em 0.3em 0.1em;
        border-color: #ec6f10e6;
        text-transform: capitalize;
        width: 140px;
    }
    .view-input-hidden{
        display: none;
    }
    .view-input-revealed{
        display: flex;
        justify-content: center;
    }
    .nombre-whothatpokemon-span{
        font-size: 25px;
    }
    .who-pokemon-container{
        width: 80%;
    } 
    .xl{
        width: 300px;
    }
    .ul-autocomplete{
        width: 300px;
        max-height: 130px;
        font-size: 20px;
    }
    .autocomplete-submit{
        width: 300px;
        position: sticky;
    }
    .modal{
        width: 300px;
        height: 150px;
        margin: calc(50vh - 7.25vh) calc(50vw - 150px);
    }
    .div-loading{
        display: flex;
        width: 60%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .loading{
        font-size: 50px;
    }
    .img-loading{
        width: 400px;
    }